{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "transform-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "syntax-dynamic-import",
        "@babel/plugin-transform-runtime",
        "@babel/transform-async-to-generator"
    ]
}