.auth-container {
  width: 100vw;
  height: 100vh;
  background: url('../assets/images/background-img.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-title-panel {
  width: 100vw;
  height: 5rem;
  position: absolute;
  top: 0;
  background: rgba(12, 11, 19, 0.88);
  display: flex;
  justify-content: center;
  img {
    width: 9rem;
    height: 4.5rem;
  }
  @media (max-width: 768px) {
    height: 3rem;
    img {
      width: 5.5rem;
      height: 3rem;
    }
  }
}

.form-container {
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 2rem 0;
  background: $base-black;
  border-radius: 4px;
  form {
    width: 70%;
    display: flex;
    flex-direction: column;
    input {
      border: none;
      background: none;
      outline: none;
      width: 100%;
      color: #fff;
      letter-spacing: 1px;
    }
  }
  @media (max-width: 1400px) {
    min-width: 30rem;
  }
  @media (max-width: 768px) {
    min-width: 25rem;
    margin: 0 1rem;
    padding-bottom: 1rem;
  }
}

.input-container {
  margin-bottom: 15px;
  position: relative;
  margin-right: 0;
  border-bottom: 1px solid #777;
  padding: 2px 1.8rem 2px;
  img {
    position: absolute;
    left: 4px;
    bottom: 5px;
    width: 1rem;
    height: 1rem;
  }
  p {
    margin: 0;
  }
  &__eye {
    left: 94% !important;
    bottom: 2px !important;
    cursor: pointer;
  }
}

.checkbox-container {
  display: flex;
  margin: 1rem 0 1.5rem 0;
  input {
    width: 1rem !important;
  }
  label {
    margin-left: 5px;
    cursor: pointer;
  }
  a {
    color: #fff;
  }
  @media (max-width: 768px) {
    margin: 0;
    font-size: $small-size;
  }
}

.auth-container-bottom-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
  p {
    font-weight: 400;
    margin-bottom: 0;
  }
  span {
    cursor: pointer;
  }
  @media (max-width: 768px) {
    font-size: $small-size;
  }
}

.auth-faq-button {
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 2px;
  right: 2px;
  background: $dark-yellow;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 2rem;
    height: 2rem;
  }
}
