html {
  font-size: 14px;
}

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  color: #fff;
  background: rgb(12, 11, 19);
}

// fonts

$small-size: 0.8rem;
$middle-size: 1.5rem;
$large-size: 3.5rem;

// colors

$base-black: rgb(12, 11, 19);
$dark-yellow: #F8D126;
