html {
  font-size: 14px;
}

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  color: #fff;
  background: rgb(12, 11, 19);
}

// // fonts

// @font-face {
//   font-family: "audifont";
//   src: url("../assets/fonts/auditype-normal.woff") format('woff');
// }

// @font-face {
//   font-family: "audifont";
//   src: url("../assets/fonts/auditype-bold.woff") format('woff');
//   font-weight: bold;
// }

// @font-face {
//   font-family: "audifont-extended";
//   src: url("../assets/fonts/auditype-extendednormal.woff") format('woff');
// }

// @font-face {
//   font-family: "audifont-extended";
//   src: url("../assets/fonts/auditype-extendedbold.woff") format('woff');
//   font-weight: bold;
// }

// colors

$base-black: rgb(12, 11, 19);
