.error-message {
  color: red;
  font-size: $small-size;
  position: absolute;
  left: 0;
}

.parall-styled-btn-container {
  width: 11rem;
  height: 4.2rem;
  position: relative;
}

.parall-styled-btn {
  width: 11rem;
  height: 4.2rem;
  position: absolute;
  left: 55%;
  right: 45%;
  display: inline-block;
  background: $dark-yellow;
  transform: skewX(-22deg);
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  div {
    display: block;
    transform: skewX(22deg); // unskew inner content
    border: none;
    background: none;
    font-family: 'Nova Flat', cursive;
    font-size: $middle-size;
    font-weight: bold;
    cursor: pointer;
  }
  &:hover {
    width: 11.5rem;
    height: 5rem;
  }
  @media (max-width: 768px) {
    width: 9rem;
    height: 3.5rem;
    margin-top: 1.5rem;
    &:hover {
      width: 11rem;
      height: 4.2rem;
      left: 45%;
    }
  }
}

.pntr-events-none {
  pointer-events: none;
}

.base-title {
  color: #fff;
  font-size: $large-size;
  font-family: 'Nova Flat', cursive;
  margin-bottom: 2rem;
  @media (max-width: 768px) {
    font-size: 2rem;       
  }
}