// borrowed from https://codepen.io/Ali78h/pen/eYeNQbW

.loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 108px;
  height: 108px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  & li{
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: transparent;
    animation: loading 0.8s infinite;
  }

  & li:nth-child(5){
    opacity: 0;
  }
  & li:nth-child(1){
    animation-delay: 0.1s;
  }
  & li:nth-child(2){
    animation-delay: 0.2s;
  }
  & li:nth-child(3){
    animation-delay: 0.3s;
  }
  & li:nth-child(6){
    animation-delay: 0.4s;
  }
  & li:nth-child(9){
    animation-delay: 0.5s;
  }
  & li:nth-child(8){
    animation-delay: 0.6s;
  }
  & li:nth-child(7){
    animation-delay: 0.7s;
  }
  & li:nth-child(4){
    animation-delay: 0.8s;
  }
}
@keyframes loading{
  1%{
    background-color: #000;
  }
}